.fab-div {
	position: absolute;
	bottom: 16px;
	right: 16px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.fab {
	margin-top: 10px;
}

.word-list {
	min-height: 1rem;
	font-size: 2rem;
}

.word-box {
	margin: 0.5rem 0;
	border-style: dotted;
	border-width: 0.5px;
	border-color: #444;
	padding: 0 0.5rem;
	flex-grow: 1;
}

.word {
	display: inline-block;
	min-width: 40%;
	flex: 0 0 auto;
}

.part {
	font-size: 1.5rem;
}

.note {
	display: inline-block;
	flex-grow: 1;
	text-align: right;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.input {
	display: flex;
	justify-content: space-around;
}

/* Use css instead of <Stack> to do media querying */
@media (max-width: 800px) {
	.input {
		flex-direction: column;
	}

	.input > * {
		margin-top: 1rem;
	}
}